#main{
    background-color: #C6C6C6;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    border-radius: 5%;
    height: 100%;
   
  }
  
  #title{
    margin-left: auto;
    text-align: center;
    font-family: Helvetica;
    font-size: 100%;
    font-weight: bold;
    
  }
  
  #image,#img-caption{
    width: 100%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
  }
  
  
  #tribute-link{
    font-family: monospace;
    font-size: 19px;
  }

  #tribute-info a{
  color: blue;
  padding: 1px 30px 1px 30px ;
  text-decoration: none;
  width: 15%;
  border-radius: 5px;
  margin: 8px;
  padding: 5px;
  }

    a:hover{
    color: white;
  }

  .info{
    background-color:rgba(128, 128, 128, 0.527);
    border-radius:3%;
    padding: 10% 20% 5% 20%;
  }

  #pie_de_pagina{
    text-align: center;
}






